#game-board {
  background-color: rgb(148, 223, 223);
  width: 500px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#game-info {
  background-color: rgb(148, 223, 223);
  width: 500px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
}

#new-game-button {
  background-color: rgb(134, 134, 211);
  width: 120px;
  height: 45px;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-info > a {
  text-decoration: none;
  color: white;
}

.cell {
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 96px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

#player1,
#player2 {
  background-color: rgb(134, 134, 211);
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 2px white solid;
  border-radius: 10px;
  color: white;
  min-width: 70px;
}

#player1 > span,
#player2 > span {
  padding: 2px;
}

.active {
  border-color: #ffff00 !important;
  transform: scale(1.1);
}
